.head-section{
    box-shadow: 0px 1px 20px 5px black;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    padding-left: 21px;
    /* background-color: #257d90db; */
    background-color: #b5e0e9db;

    max-width: 100vw;

    height: 47px;
}

.logo{
    font-size: 1.5em;
    font-weight: bold;
}

.login-register{
    display: flex;
}

.login-register a{
    margin-left: 10px;
    text-decoration: none;
    color: black;
}

.my-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* font-weight: bold; */
    font-family: Arial, Helvetica, sans-serif;
    padding: 1px 9px;
    border: 1px solid #000000;
    background-color: #60ace0;
    border-radius: 54px;
}
.login-btn{
    display: flex;
    flex-direction: row;
    font-weight: bold;
    padding: 0px 9px;
    border: 1px solid #000000;
    background-color: #67c48d;
    border-radius: 54px;
}
.login-btn:hover{
    box-shadow: 0px 0px 9px 0px #1aff005e;

}

.logout-btn{
    text-decoration: none;
    align-items: center;
    margin: 0px 8px;
    padding: 1px 11px;
    border-radius: 27px;
    background-color: #ff7070;
    display: flex;
    flex-direction: row;
}
.logout-btn:hover{
    box-shadow: 0px 0px 10px 2px #ff00005e;
}

.my-btn:hover{
    box-shadow: 0px 0px 3px 2px #8c00ff59;
}

.logo-img{
    height: 27px;
    margin-left: 15px;
    filter: drop-shadow(1px 1px 3px rgb(103, 225, 255));
}

@media (max-width:450px) {
    .logo-img{
        height: 20px;
        margin-left: 10px;
    }
    .my-btn{
        padding: 4px 4px;
    border-radius: 54px;
    font-size: 11px;
    }
    .material-symbols-outlined {
        font-size:16px;
    }
    .header{
        height: 40px;
    }
    
}
@media (max-width:350px) {
    .logo-img{
        height: 15px;
        margin-left: 0px;
    }
    .my-btn{
        padding: 4px 3px;
    border-radius: 54px;
    font-size: 8px;
    height: 10px;
    }
    .material-symbols-outlined {
        font-size:12px;
    }
    .header{
        height: 30px;
    }
    .logout-btn{
        padding: 1px 11px;
        font-size: 8px;
    }
}
