@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

#login-body{
  height: 46rem;
}

#container{
    padding: 50px 0px;
    margin: 102px 603px;
    /* user-select: none; */
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    height: 32rem;
    display: grid;
  place-items: center;
  background: #dde1e7;
  text-align: center;

}
.content{
  width: 330px;
  padding: 40px 30px;
  background: #dde1e7;
  border-radius: 10px;
  box-shadow: 1px -1px 14px 7px #0a080873, 2px 2px 5px rgb(28 29 29 / 29%);

}
.content .text{
  font-size: 33px;
  font-weight: 600;
  margin-bottom: 35px;
  color: #595959;
}
.field{
  height: 50px;
  width: 100%;
  display: flex;
  position: relative;
}
.field:nth-child(2){
  margin-top: 20px;
}
.field:nth-child(3){
  margin-top: 20px;
}
.field input{
  height: 100%;
  width: 100%;
  padding-left: 45px;
  outline: none;
  border: none;
  font-size: 18px;
  background: #dde1e7;
  color: #595959;
  border-radius: 25px;
  box-shadow: inset 2px 2px 5px #BABECC,
              inset -5px -5px 10px #ffffff73;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}
.field input:focus{
  box-shadow: inset 1px 1px 2px #BABECC,
              inset -1px -1px 2px #ffffff73;
}
.field span{
  position: absolute;
  color: #595959;
  width: 50px;
  line-height: 50px;
}
.field label{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 45px;
  pointer-events: none;
  color: #666666;
}
.field input:valid ~ label{
  opacity: 0;
}
.forgot-pass{
  text-align: left;
  margin: 10px 0 10px 5px;
}
.forgot-pass a{
  font-size: 16px;
  color: #3498db;
  text-decoration: none;
}
.forgot-pass:hover a{
  text-decoration: underline;
}
.sign-in-btn button{
  margin: 15px 0;
  width: 100%;
  height: 50px;
  font-size: 18px;
  line-height: 50px;
  font-weight: 600;
  background: #dde1e7;
  border-radius: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #595959;
  box-shadow: 2px 2px 5px #BABECC,
             -5px -5px 10px #ffffff73;
}
.sign-in-btn:focus{
  color: #3498db;
  box-shadow: inset 2px 2px 5px #BABECC,
             inset -5px -5px 10px #ffffff73;
}
.sign-up{
  margin: 10px 0;
  color: #595959;
  font-size: 16px;
}
.signup-now{
  color: #3498db;
  text-decoration: none;
}
.signup-now:hover{
  text-decoration: underline;
}

@media (max-width:600px) {
  #container {
    padding: 8vh 0px;
    margin: 6vh 14vw;
    height: 80vh;
  }
  .content{
    width: 72vw;
  }
  
}
@media (max-width:400px) {
  #container {
    padding: 8vh 0px;
    margin: 20vh 14vw;
    height: 54vh;
  }
  .content{
    width: 72vw;
  }
  .content .text{
    font-size: 6vw;
    margin-bottom: 12pxpx;
  }
  .field{
    height: 4vh;
  }
  .field>input{
    font-size: 4vw;
  }
  .field>span{
    line-height: 5vh;
  }
  .field>label{
    top: 60%;
    font-size: 3.8vw;
  }
  .sign-in-btn>button{
    width: 60%;
    height: 4.5vh;
    font-size: 4vw;
    line-height: 0px;
  }
  .sign-up{
    font-size: 4vw;
  }
}