
.navbar{
    position: relative;
    overflow: hidden;
}

.bg-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 87vw;
    border-radius: 5px;
    height: 17vw;
    background-size: cover;
    margin: 65px 6vw 0px 6vw;
    z-index: -1;
    border: 3px solid #d4d4d4;
}

.nav-list{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 13px 15vw;
    margin: 0px;

}

.nav-link{
    font-family: 'Philosopher', sans-serif;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 2px 1px 2px black;
    padding: 4px 13px;
    border-radius: 31px;
    box-shadow: 0px 0px 28px 2px #92b2ce;
}

.dark-mode{
    
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
}
.dark-mode p{
    font-family: 'Philosopher', sans-serif;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 2px 1px 2px black;
    padding: 4px 13px;
    border-radius: 31px;
    box-shadow: 0px 0px 28px 2px #92b2ce;
}

.img-button{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vw 1vw 8vw 1vw;
}

@media (max-width:600px) {
    .nav-list{
        padding: 13px 2vw 11vw;
    }
    .nav-link{
        font-size: 2.4vw;
        box-shadow: none;

    }

    .dark-mode p{
        font-size: 2.4vw;
        box-shadow:none;

    }
    .bg-image{
        position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    border-radius: 5px;
    height: 23vw;
    background-size: cover;
    margin: 14vw 0vw 0px 0vw;
    z-index: -1;
    border: none;
    }
    .img-button{
        display: none;
        padding: 0vw 1vw 8vw 1vw;
    }
    
}